<section id="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <ul class="navbar-nav nav pull-left">
            <li><a class="" ui-sref="home">HOME</a></li>
            <li><a class="" ui-sref="about-us">ABOUT US</a></li>
            <li><a class="" ui-sref="services">SERVICES</a></li>
            <li><a class="" ui-sref="portfolio">PORTFOLIO</a></li>
        </ul>
        <ul class="navbar-nav nav pull-right">
            <li><a class="" ui-sref="blog">BLOG</a></li>
            <li><a class="" ui-sref="fashion-design">FASHION DESIGN</a></li>
            <li><a class="" ui-sref="testimonial">TESTIMONIAL</a></li>
            <li><a class="" ui-sref="contact">CONTACT</a></li>
        </ul>
    </nav>
</section>